html{
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}

.bgimg{
    background-image: url("../img/tuyucomparated.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgimg2{
    background-image: url("../img/low.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgimg3{
    background-image: url("../img/ima.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c6dae5;
    background-size: cover;
    position: relative;
}

.topText{
    text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 150%;
}

.outL{
    text-shadow: -1px -1px 0 #294366, 1px -1px 0 #294366, -1px 1px 0 #294366, 1px 1px 0 #294366;
}

.font120{
    font-size:120%;
}
/*drop down xd*/
.butInd{
  background-color: #4c7f94;
  color:  #d8ebf2;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

.divdrop{
    position: relative;
  display: inline-block;
}

.dropIn{
    display: none;
  position: absolute;
  background-color: #c9dde6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translate(-25%, 0);
  border-radius: 8px;
}

.dropIn a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropIn a:hover{
    background-color: #f1f1f1
}

.divdrop:hover .dropIn{
    display: block
}

.divdrop:hover .butInd{
    background-color: #73abc2;
}
/*ya no dropdown*/

.maxmarg{
    max-width: 100%;
    padding: 0 80px 16px 80px;
}

.imgnext{
    float: right;
}

.imgpq{
    max-width: 10%;
}

.txtc{
    text-align: center;
}

.imgbef{
    float: left;
}

.movercentro{
    margin: 0 0 1rem;
  height: 10rem;
  display: flex;
  align-items: start;
  padding: .2rem;
}

.maxmarg2{
    max-width: 100%;
    padding: 0 10px 0px 47rem;
}

.btncs1{
    background-color: #294366;
    width: auto;
    height: auto;
    font-size: 20px;
    color: #c6dae5;
}

.btncs2{
    background-color: #5e6168;
    width: auto;
    height: auto;
    font-size: 20px;
    color: #c3bdc7;
}

.btncs3{
    background-color: #fccd35;
    width: auto;
    height: auto;
    font-size: 20px;
    color: #2a2627;
}

.maxmarg3{
    max-width: 100%;
    padding: 0 10px 0px 23rem;
}

table{
    padding: 5px 5px 5px 5px;
}



/*drop down xdsegundosegndo*/
.butInd2{
    background-color: #5e6168;
    color:  #fefefe;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
  }
  .divdrop2{
    position: relative;
  display: inline-block;
}
  .dropIn2{
      display: none;
    position: absolute;
    background-color: #c4c0ce;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(-25%, 0);
    border-radius: 8px;
  }
  
  .dropIn2 a{
      color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropIn2 a:hover{
      background-color: #d3cedd
  }

  .divdrop2:hover .dropIn2{
    display: block
}
  
  .divdrop2:hover .butInd2{
      background-color: #b5b1be;
  }
  /*ya no dropdown*/

  /*drop down terceroceterhasjna*/
  .butInd3{
    background-color: #e3983b;
    color:  #232122;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
  }
  .divdrop3{
    position: relative;
  display: inline-block;
}
  .dropIn3{
      display: none;
    position: absolute;
    background-color: #fecd33;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(-25%, 0);
    border-radius: 8px;
  }
  
  .dropIn3 a{
      color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropIn3 a:hover{
      background-color: #e99b3c
  }

  .divdrop3:hover .dropIn3{
    display: block
}
  
  .divdrop3:hover .butInd3{
      background-color: #d4ad2a;
  }
  /*ya no dropdown*/